.friendMessage {

}

.friendImageAndText {

}

.friendImageAndText img {
    width: 200px;
    height: 180px;
    border-radius: 100px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
